.circleSvg {
  transform: rotate(-90deg);
}

.circleSvg .circleBackground {
  stroke-dashoffset: 0;
  stroke: #C8C8C8;
  stroke-width: 2px;
}

.circleSvg .progressBar {
  stroke-dashoffset: 175.92px;
  stroke: #009FE3;
  stroke-width: 2px;
}

.progressCircleContainer {
  display: block;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressCircleContainer:after {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  content: attr(data-pct);
  text-align: center;
  color: #737373;
  top: 0;
  bottom: 0;
  justify-content: center;
}